Source Code/BabyShopping/App_WebReferences/BabyShopWebService/BabyShopService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/BabyShop.Data" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/BabyShop.Data" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="EUser">
    <xs:sequence>
      <xs:element minOccurs="0" name="MLoginAddress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MLoginCity" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MLoginCompanyName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MLoginCountry" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MLoginEmail" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MLoginFax" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MLoginFirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MLoginID" type="xs:int" />
      <xs:element minOccurs="0" name="MLoginJobTitle" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MLoginLastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MLoginMobilePhone" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MLoginPrimaryPhone" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MLoginRightsPassword" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MLoginRightsUserID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MLoginState" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MLoginZip" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EUser" nillable="true" type="tns:EUser" />
  <xs:complexType name="EShoppingCart">
    <xs:sequence>
      <xs:element minOccurs="0" name="ProductCategoryName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProductImageURL" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ShoppingCartActive" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ShoppingCartId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ShoppingCartProductKId" type="xs:int" />
      <xs:element minOccurs="0" name="ShoppingCartProductPrice" type="xs:decimal" />
      <xs:element minOccurs="0" name="ShoppingCartQuantity" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EShoppingCart" nillable="true" type="tns:EShoppingCart" />
  <xs:complexType name="ArrayOfEShoppingCart">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="EShoppingCart" nillable="true" type="tns:EShoppingCart" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEShoppingCart" nillable="true" type="tns:ArrayOfEShoppingCart" />
</xs:schema>