Source Code/BabyShopping/Service References/BabyShopWebService/BabyShopService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/BabyShop.CommonLayer.DataTransferObjects" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/BabyShop.CommonLayer.DataTransferObjects" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="UserDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="MLoginAddress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MLoginCity" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MLoginCompanyName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MLoginCountry" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MLoginEmail" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MLoginFax" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MLoginFirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MLoginID" type="xs:int" />
      <xs:element minOccurs="0" name="MLoginJobTitle" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MLoginLastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MLoginMobilePhone" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MLoginPrimaryPhone" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MLoginRightsPassword" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MLoginRightsUserID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MLoginState" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MLoginZip" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserDTO" nillable="true" type="tns:UserDTO" />
  <xs:complexType name="ShoppingCartDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="ProductCategoryName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProductImageURL" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ShoppingCartActive" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ShoppingCartId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ShoppingCartProductKId" type="xs:int" />
      <xs:element minOccurs="0" name="ShoppingCartProductPrice" type="xs:decimal" />
      <xs:element minOccurs="0" name="ShoppingCartQuantity" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ShoppingCartDTO" nillable="true" type="tns:ShoppingCartDTO" />
  <xs:complexType name="ArrayOfShoppingCartDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ShoppingCartDTO" nillable="true" type="tns:ShoppingCartDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfShoppingCartDTO" nillable="true" type="tns:ArrayOfShoppingCartDTO" />
</xs:schema>