Source Code/BabyShopping/Service References/BabyShopWebService/BabyShopService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="BabyShopService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://rashi.corporate.thoughtworks.com/BabyShopService/BabyShopService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://rashi.corporate.thoughtworks.com/BabyShopService/BabyShopService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://rashi.corporate.thoughtworks.com/BabyShopService/BabyShopService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/BabyShop.CommonLayer.DataTransferObjects" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IBabyShopServiceContract_ValidateUser_InputMessage">
    <wsdl:part name="parameters" element="tns:ValidateUser" />
  </wsdl:message>
  <wsdl:message name="IBabyShopServiceContract_ValidateUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:ValidateUserResponse" />
  </wsdl:message>
  <wsdl:message name="IBabyShopServiceContract_GetUserDetails_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUserDetails" />
  </wsdl:message>
  <wsdl:message name="IBabyShopServiceContract_GetUserDetails_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="IBabyShopServiceContract_CreateUser_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateUser" />
  </wsdl:message>
  <wsdl:message name="IBabyShopServiceContract_CreateUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateUserResponse" />
  </wsdl:message>
  <wsdl:message name="IBabyShopServiceContract_InsertProductCart_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertProductCart" />
  </wsdl:message>
  <wsdl:message name="IBabyShopServiceContract_InsertProductCart_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertProductCartResponse" />
  </wsdl:message>
  <wsdl:message name="IBabyShopServiceContract_GetShoppingCartIteim_InputMessage">
    <wsdl:part name="parameters" element="tns:GetShoppingCartIteim" />
  </wsdl:message>
  <wsdl:message name="IBabyShopServiceContract_GetShoppingCartIteim_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetShoppingCartIteimResponse" />
  </wsdl:message>
  <wsdl:message name="IBabyShopServiceContract_DeleteShoppingCart_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteShoppingCart" />
  </wsdl:message>
  <wsdl:message name="IBabyShopServiceContract_DeleteShoppingCart_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteShoppingCartResponse" />
  </wsdl:message>
  <wsdl:message name="IBabyShopServiceContract_CountCartItems_InputMessage">
    <wsdl:part name="parameters" element="tns:CountCartItems" />
  </wsdl:message>
  <wsdl:message name="IBabyShopServiceContract_CountCartItems_OutputMessage">
    <wsdl:part name="parameters" element="tns:CountCartItemsResponse" />
  </wsdl:message>
  <wsdl:portType name="IBabyShopServiceContract">
    <wsdl:operation name="ValidateUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IBabyShopServiceContract/ValidateUser" message="tns:IBabyShopServiceContract_ValidateUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBabyShopServiceContract/ValidateUserResponse" message="tns:IBabyShopServiceContract_ValidateUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUserDetails">
      <wsdl:input wsaw:Action="http://tempuri.org/IBabyShopServiceContract/GetUserDetails" message="tns:IBabyShopServiceContract_GetUserDetails_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBabyShopServiceContract/GetUserDetailsResponse" message="tns:IBabyShopServiceContract_GetUserDetails_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IBabyShopServiceContract/CreateUser" message="tns:IBabyShopServiceContract_CreateUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBabyShopServiceContract/CreateUserResponse" message="tns:IBabyShopServiceContract_CreateUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertProductCart">
      <wsdl:input wsaw:Action="http://tempuri.org/IBabyShopServiceContract/InsertProductCart" message="tns:IBabyShopServiceContract_InsertProductCart_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBabyShopServiceContract/InsertProductCartResponse" message="tns:IBabyShopServiceContract_InsertProductCart_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetShoppingCartIteim">
      <wsdl:input wsaw:Action="http://tempuri.org/IBabyShopServiceContract/GetShoppingCartIteim" message="tns:IBabyShopServiceContract_GetShoppingCartIteim_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBabyShopServiceContract/GetShoppingCartIteimResponse" message="tns:IBabyShopServiceContract_GetShoppingCartIteim_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteShoppingCart">
      <wsdl:input wsaw:Action="http://tempuri.org/IBabyShopServiceContract/DeleteShoppingCart" message="tns:IBabyShopServiceContract_DeleteShoppingCart_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBabyShopServiceContract/DeleteShoppingCartResponse" message="tns:IBabyShopServiceContract_DeleteShoppingCart_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CountCartItems">
      <wsdl:input wsaw:Action="http://tempuri.org/IBabyShopServiceContract/CountCartItems" message="tns:IBabyShopServiceContract_CountCartItems_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBabyShopServiceContract/CountCartItemsResponse" message="tns:IBabyShopServiceContract_CountCartItems_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:service name="BabyShopService" />
</wsdl:definitions>