Source Code/AdminBabyShopping/Service References/BabyService/BabyService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="BabyService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost/AdminBabyService/BabyService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost/AdminBabyService/BabyService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost/AdminBabyService/BabyService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/BabyShop.Data" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IBabyService_InsertProductCart_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertProductCart" />
  </wsdl:message>
  <wsdl:message name="IBabyService_InsertProductCart_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertProductCartResponse" />
  </wsdl:message>
  <wsdl:message name="IBabyService_GetShoppingCartIteim_InputMessage">
    <wsdl:part name="parameters" element="tns:GetShoppingCartIteim" />
  </wsdl:message>
  <wsdl:message name="IBabyService_GetShoppingCartIteim_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetShoppingCartIteimResponse" />
  </wsdl:message>
  <wsdl:message name="IBabyService_DeleteShoppingCart_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteShoppingCart" />
  </wsdl:message>
  <wsdl:message name="IBabyService_DeleteShoppingCart_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteShoppingCartResponse" />
  </wsdl:message>
  <wsdl:portType name="IBabyService">
    <wsdl:operation name="InsertProductCart">
      <wsdl:input wsaw:Action="http://tempuri.org/IBabyService/InsertProductCart" message="tns:IBabyService_InsertProductCart_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBabyService/InsertProductCartResponse" message="tns:IBabyService_InsertProductCart_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetShoppingCartIteim">
      <wsdl:input wsaw:Action="http://tempuri.org/IBabyService/GetShoppingCartIteim" message="tns:IBabyService_GetShoppingCartIteim_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBabyService/GetShoppingCartIteimResponse" message="tns:IBabyService_GetShoppingCartIteim_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteShoppingCart">
      <wsdl:input wsaw:Action="http://tempuri.org/IBabyService/DeleteShoppingCart" message="tns:IBabyService_DeleteShoppingCart_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBabyService/DeleteShoppingCartResponse" message="tns:IBabyService_DeleteShoppingCart_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IBabyService" type="tns:IBabyService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="InsertProductCart">
      <soap:operation soapAction="http://tempuri.org/IBabyService/InsertProductCart" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetShoppingCartIteim">
      <soap:operation soapAction="http://tempuri.org/IBabyService/GetShoppingCartIteim" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteShoppingCart">
      <soap:operation soapAction="http://tempuri.org/IBabyService/DeleteShoppingCart" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BabyService">
    <wsdl:port name="BasicHttpBinding_IBabyService" binding="tns:BasicHttpBinding_IBabyService">
      <soap:address location="http://localhost/AdminBabyService/BabyService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>