Source Code/AdminBabyShopping/Service References/BabyService/BabyService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/BabyShop.Data" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/BabyShop.Data" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="EProductCart">
    <xs:sequence>
      <xs:element minOccurs="0" name="ProductCartKId" type="xs:int" />
      <xs:element minOccurs="0" name="ProductCartMLoginUserId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProductCartOrderNumber" type="xs:int" />
      <xs:element minOccurs="0" name="ProductCartPrice" type="xs:decimal" />
      <xs:element minOccurs="0" name="ProductCartProductKId" type="xs:int" />
      <xs:element minOccurs="0" name="ProductCartQuantity" type="xs:int" />
      <xs:element minOccurs="0" name="ProductCategoryName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProductImageURL" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EProductCart" nillable="true" type="tns:EProductCart" />
  <xs:complexType name="ArrayOfEProductCart">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="EProductCart" nillable="true" type="tns:EProductCart" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEProductCart" nillable="true" type="tns:ArrayOfEProductCart" />
</xs:schema>